n8n-workflows/product-processing-workflow.json
{
  "name": "AI Product Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "product-processing",
        "responseMode": "responseNode"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "product-processing-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event}}",
              "value2": "product_processing"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.deepseek.com/v1/chat/completions",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "messages",
              "value": "={{[{\"role\": \"user\", \"content\": \"Analyze this Vietnamese product and suggest trending keywords: \" + $json.data.name}]}}"
            },
            {
              "name": "max_tokens",
              "value": 500
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Get Trending Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "deepseek-api-key",
          "name": "Deepseek API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://trends.google.com/trends/api/explore",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "hl",
              "value": "vi"
            },
            {
              "name": "tz",
              "value": "420"
            },
            {
              "name": "req",
              "value": "={{'{\"comparisonItem\":[{\"keyword\":\"' + $json.data.category.primary + '\",\"geo\":\"VN\",\"time\":\"today 12-m\"}],\"category\":0,\"property\":\"\"}'}}"
            }
          ]
        }
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Google Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Combine AI keywords with Google Trends data\nconst aiKeywords = $input.all()[0].json.choices[0].message.content;\nconst trendsData = $input.all()[1].json;\n\n// Parse AI response\nlet parsedKeywords = [];\ntry {\n  parsedKeywords = JSON.parse(aiKeywords);\n} catch (e) {\n  parsedKeywords = { trending: [], seasonal: [] };\n}\n\n// Process trends data (simplified)\nconst trendingTerms = [];\nif (trendsData && trendsData.default) {\n  // Extract trending terms from Google Trends response\n  trendingTerms.push(...(parsedKeywords.trending || []));\n}\n\nreturn {\n  keywords: {\n    trending: trendingTerms.slice(0, 10),\n    seasonal: parsedKeywords.seasonal || [],\n    local: ['Việt Nam', 'TPHCM', 'Hà Nội', 'miền Bắc', 'miền Nam'],\n    ecommerce: ['giá rẻ', 'chất lượng', 'tươi ngon', 'an toàn', 'hữu cơ']\n  },\n  updatedAt: new Date().toISOString()\n};"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Process Keywords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "={{$json.webhookUrl}}/api/webhooks/trending-keywords-updated",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$json.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{$('Webhook').first().json.data.category.primary}}"
            },
            {
              "name": "keywords",
              "value": "={{$json.keywords}}"
            },
            {
              "name": "market",
              "value": "vietnam"
            }
          ]
        }
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Send Keywords Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"workflowId\": \"product-processing\",\n  \"executionId\": $executionId,\n  \"status\": \"completed\",\n  \"keywords\": $json.keywords\n}}}"
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Get Trending Keywords",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trending Keywords": {
      "main": [
        [
          {
            "node": "Process Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Trends": {
      "main": [
        [
          {
            "node": "Process Keywords",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Process Keywords": {
      "main": [
        [
          {
            "node": "Send Keywords Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Keywords Update": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "1",
  "tags": []
}